<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Classification with FastAPI</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="left-side">
        <div>
            <h1>Upload CT Scan Files and get instant results</h1>
            <p>Lung diseases encompass a range of conditions affecting the respiratory system, impacting breathing and oxygen exchange. Common ailments include chronic obstructive pulmonary disease (COPD), characterized by persistent airflow limitation, and asthma, causing airway inflammation and constriction. Infectious diseases like pneumonia and tuberculosis target lung tissues, while pulmonary fibrosis involves scarring, limiting lung function. Lung cancer, a malignant growth in lung tissues, poses a significant health threat. Environmental factors, smoking, and genetic predispositions contribute to lung disease prevalence. Timely diagnosis and management are crucial for mitigating symptoms and enhancing respiratory well-being.

                Upload CT Scan Files and get instant results</p>
        </div>
    </div>
    <div id="divider"></div>
    <div id="right-side">
        <form id="upload-form">
            <input type="file" name="file" accept="image/*">
            <input type="submit" value="Upload">
        </form>
    </div>

    <script src="script.js"></script>
</body>
</html>
